LEADERBOARD_API_PORT=8800
# LEADERBOARD_API_TOKEN_SECRET_KEY='foobar'
# LEADERBOARD_API_TOKEN_EXPIRATION_TIME='1h'
LEADERBOARD_API_MONGO_HOSTS='localhost'
LEADERBOARD_API_MONGO_PORTS='27017'
LEADERBOARD_API_MONGO_DB_NAME='leaderboard_api'
LEADERBOARD_API_REDIS_HOSTS='localhost_api'
LEADERBOARD_API_REDIS_PORTS='6379'
LEADERBOARD_API_REDIS_IANA=0
# LEADERBOARD_API_REDIS_DATABASE='1'

ATOMIC_ASSETS_API_HOST='atomicassets-api.alienworlds.io'
# ATOMIC_ASSETS_API_PORT=''
ATOMIC_ASSETS_API_SECURE=1

TLM_DECIMAL_PRECISION=4

ARCHIVE_BATCH_SIZE=100
MAX_ATTEMPTS_PER_BATCH=10
DAILY_ARCHIVE_CRON_TIME='0 0 * * *'
WEEKLY_ARCHIVE_CRON_TIME='0 0 * * 1'
MONTHLY_ARCHIVE_CRON_TIME='0 0 1 * *'

NEW_RELIC_ENABLED=false
NEW_RELIC_LICENSE_KEY=''
NEW_RELIC_APP_NAME='leaderboard-api-example'

ARCHIVE_BROADCAST_PORT=9003
ARCHIVE_BROADCAST_HOST='localhost'
ARCHIVE_BROADCAST_DRIVER='TCP'