LEADERBOARD_API_PORT=8800
# LEADERBOARD_API_TOKEN_SECRET_KEY='foobar'
# LEADERBOARD_API_TOKEN_EXPIRATION_TIME='1h'
LEADERBOARD_API_MONGO_HOSTS='localhost'
LEADERBOARD_API_MONGO_PORTS='27017'
LEADERBOARD_API_MONGO_DB_NAME='leaderboard'
LEADERBOARD_API_REDIS_HOSTS='localhost_api'
LEADERBOARD_API_REDIS_PORTS='6379'
LEADERBOARD_API_REDIS_IANA=0
# LEADERBOARD_API_REDIS_DATABASE='1'

ATOMIC_ASSETS_API_HOST='atomicassets-api.alienworlds.io'
# ATOMIC_ASSETS_API_PORT=''
ATOMIC_ASSETS_API_SECURE=1

ARCHIVE_BATCH_SIZE=1000
TLM_DECIMAL_PRECISION=4
DAILY_ARCHIVE_CRON_TIME='0 0 * * *'
WEEKLY_ARCHIVE_CRON_TIME='0 0 * * 1'
MONTHLY_ARCHIVE_CRON_TIME='0 0 1 * *'